[hpfeeds]
enabled = False
server =
port = 10000
ident =
secret =
tags =
reported_ip = UNSET_REPORTED_IP

[stingar]
enabled = False
fluent_host =
fluent_port = 24284
app =
hostname =
identifier =
tags =
asn =
